google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-dotenv
spacy
openai
transformers
torch
langchain
mail-parser
requests
Flask
Flask-Login
Flask-WTF
Flask-Principal
WTForms
werkzeug
jsonschema
pydantic
pandas
pytest
pytest-mock
unittest2
flake8
black
isort
loguru
aiohttp
APScheduler
SQLAlchemy
psycopg2-binary
tqdm
numpy
nltk
python-multipart
Jinja2
bcrypt
itsdangerous
sphinx
filelock
tenacity
fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
validators
json_log_formatter
